.categories-ul ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.categories-ul ul li {
  background-color: #dddddd;
  margin: 10px 0;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.categories-ul {
  margin-top: 20px;
  max-height: 500px;
  overflow-y: auto;
  padding: 25px;
  border-radius: 8px;
  border: 1px solid #ddd;
}