.category-link {
  text-transform: uppercase;
  transition: opacity 0.3s;
  color: white;
  width: max-content;
  margin-bottom: 20px;
  padding: 5px 2px 5px 5px;
  font-size: 13px;
}

.category-link:hover {
  opacity: 0.6;
}

.show-modal {
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  padding: 10px 30px;
  width: 800px;
  z-index: 10;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 15px 15px;
  transition: height 0.3s ease-in-out;
  overflow: hidden;
}

.show-modal.open {
  height: auto;
}


.brand-link {
  font-size: 15px;
  font-weight: 600;
  padding: 8px 16px 16px 0;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: none;
}

.subcategory-title {
  font-weight: 550;
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: uppercase;
  color: #333;
}

.subcategory-block {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.no-subcategories {
  color: #2e3430;
  font-weight: 550;
  margin-bottom: 10px;
  font-size: 13px;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
}