.menu-box {
  margin-top: 0;
  border: 1px solid #c8ddb9;
  box-shadow: 0 1px 2px rgba(9, 39, 9, 0.16);
  border-radius: 10px;
  width: 30%;
  transition: all 0.3s ease-in-out;
}

.nav {
  margin: 15px;
}

.category-nav {
  display: flex;
  justify-content: space-between;
}

.nav-item-category a {
  color: #656565;
  padding: 10px;
  border-bottom: 3px solid #F6F7FB;
  background: #F6F7FB;
  border-radius: 10px 10px 0 0;
  text-decoration: none;
}

.nav-item-category a.active {
  border-color: #F6F7FB #F6F7FB #63a021 #F6F7FB;
  color: #212121;
  background: white;
}

.nav-category-link {
  text-decoration: none;
  color: #173314;
  padding: 13px 20px;
  display: block;
  font-size: 14px;
}

.paw-icon {
  width: 35px;
  height: 35px;
  margin-right: 5px;
}

.nav-category-link:hover {
  background: #dcffe6;
  color: #45833f;
}

@media (max-width: 1200px) {
  .menu-box {
    width: 34%;
  }
  .nav {
    margin: 5px;
  }

  .nav-item-category a {
    display: block;
    width: 100%;
    padding: 8px;
  }

  .nav-category-link {
    font-size: 12px;
    padding: 8px;
  }
}

