.product-box {
  margin: 0 auto;
  padding: 32px;
}

.product-grid {
  display: flex;
  justify-content: space-between;
}

.product-specs {
  list-style: none;
  padding: 0;
  margin: 0;
}

.product-specs li {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  padding: 8px 0;
  border-bottom: 1px dashed #ddd;
  font-size: 16px;
}

.product-specs li strong {
  font-weight: 500;
}